@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detials</title>
</head>
<body>
    <h1>@Model.Id : @Model.deptName</h1>
</body>
</html>
